.movieList{
    position: relative;
    background-color: rgb(31, 31, 31);
}

.gradient_div{
    position: relative;
    top:-7.3vw;
    width: 100%;
    height: 7.3vw;
    background-image: linear-gradient(180deg,transparent,rgb(31, 31, 31));
}