.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 29px;
    padding:20px;
    z-index:1px;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
}

.navbar__black{
    background-color: rgb(31, 31, 31);
}

.navbar__logo{
    position: fixed;
    left: 20px;
    width: 180px;
    object-fit: contain;
    cursor: pointer;
}

.navbar__avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}