.banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    object-fit:contain;
    height: 448px;
}

.banner__contents{
    margin-left:30px;
    padding-top: 140px;
}

.banner__title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner__description{
    line-height: 1.3;
    padding-top: 1rem;
    font-size:0.8rem;
    max-width: 360px;
    height: 80px;
}

.banner__buttons{
    width: 100%;
    padding-bottom: 50px;
}

.banner__button{
    appearance: none;
    border:0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin-right:1rem;
    margin-bottom:1rem;
    padding: 0.6rem 1.6rem;
    font-size: 0.8rem;
    font-weight: 800;
    text-shadow: none;
    transition:transform 0.450ms ;
}

.button_play{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0);
}

.button_more_info{
    background-color: rgba(104, 104, 104, 0.8);
    color: rgb(255, 255, 255);
}

.banner__button:hover{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0);
    transition: all 0.2s;
}

.banner__button_ico{

}

.banner__fadeBottom{
    width: 100%;
    height: 7.3vw;
    background-image: linear-gradient(180deg,transparent,rgb(31, 31, 31));
    justify-self: self-end;
}