.moviedetails{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 600px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.moviedetails__poster{
    width: 420px;
    padding-left: 20px;
    height: max-content;
}

.moviedetails__duration__genre{
    color: rgb(121, 121, 121);
}

.moviedetails__infos{
    width: 500px;
    padding-left: 20px;
}

.moviedetails__synopsis{
    text-align: justify;
}

a{
    text-decoration: none;
    color: rgb(207, 207, 207);
    transition: all 0.5s;
}

a:hover{
    color: rgb(155, 155, 155);
}

h3{
    display: inline-flex;
}

p{
    padding: 5px;
}


.boutton__update{
    display: block;
    appearance: none;
    border:0;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-right:1rem;
    margin-bottom:1rem;
    padding: 0.6rem 1.6rem;
    font-size: 0.8rem;
    font-weight: 800;
    text-shadow: none;
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: 10px 10px 18px -1px rgba(0,0,0,0.75);
    color: rgba(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    transition:all 1s;
}

.boutton__update:hover{
    color: rgba(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.726);
}

/* #####################LOADING######################## */

.movie__load{
    margin: auto;
    width: 50px;
    height: 80vh;
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center center;
    background-image: url("./../assets/loader.gif");
}

@keyframes anim{
    0% {width: 0px;}
    100% {width: 250px;}
}

.error__page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.error__page__title{
    font-size: 2em;
    font-weight: bold;
    margin-bottom:20px;
}

.error__page__info{
    margin: 0 auto;
    width:50%;
}

.error__page__info__text{
    font-size: 17px;
}

.error__page__info__error__code{
    font-size: 10px;
    margin-top: 10vh;
}