.navbar{
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    top: 0;
    width: 100%;
    height: 29px;
    padding:20px;
    z-index:100;
    transition: all 0.2s;
    background-image: linear-gradient(0deg,transparent,rgb(17, 17, 17));
}

.navbar__black{
    background-color: rgb(31, 31, 31);
}

.navbar__logo{
    margin-left: 20px;
    width: 180px;
    cursor: pointer;
}
.nav__avatar{
    display: flex;
}

.nav__button{
    margin:0px 0px 0px 20px;
    padding:5px 0px 0px 0px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
    transition: all 0.5s;
}

.nav__button:hover{
    color: rgb(182, 182, 182);
}
