.navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: flex-start;
    top: 0;
    width: 100%;
    height: 29px;
    padding:20px;
    z-index:1px;
    transition: all 0.2s;
    background-image: linear-gradient(0deg,transparent,rgb(31, 31, 31));
}
.navbar__black{
    background-color: rgb(31, 31, 31);
}

.navbar__logo{
    margin-left: 20px;
    width: 180px;
    cursor: pointer;
}

.navbar__avatar{
    display: flex;
    justify-self: flex-end;
    right: 20px;
    width: 30px;
}

.nav__button{
    position: flex;
    margin:0px 0px 0px 20px;
    padding:5px 0px 0px 0px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
    transition: all 0.5s;
}

.nav__button:hover{
    color: rgb(182, 182, 182);
}
