.peoples{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.people__card{
    display: flex;
    width: 150px;
    height:240px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    margin: 4% 0 0 4%;
    border-radius: 2px;
}

.people__picture{
    width: 100%;
    height: 80%;
    object-fit: fill;
}

a{
    text-decoration: none;
}
.people__name{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

/* ################################################################################### */
/* ######################################LOADING###################################### */
/* ################################################################################### */

.list__load{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.r1{
    background-color: rgba(255, 255, 255, 0.164);
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    animation: r1 2s linear infinite;
}

@keyframes r1{
    0%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    15%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
        background-color: rgba(255, 255, 255, 0.164);
    }
    30%{ 
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    100%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
}

.r2{
    background-color: rgba(255, 255, 255, 0.164);
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    animation: r2 2s linear infinite;
}

@keyframes r2{
    0%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    5%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    20%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
        background-color: rgba(255, 255, 255, 0.164);
    }
    35%{ 
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    100%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
}

.r3{
    background-color: rgba(255, 255, 255, 0.164);
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    animation: r3 2s linear infinite;
}

@keyframes r3{
    0%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    10%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    25%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
        background-color: rgba(255, 255, 255, 0.164);
    }
    40%{ 
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    100%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
}

.r4{
    background-color: rgba(255, 255, 255, 0.164);
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    animation: r4 2s linear infinite;
}

@keyframes r4{
    0%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    15%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    30%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
        background-color: rgba(255, 255, 255, 0.164);
    }
    45%{ 
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    100%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
}

.r5{
    background-color: rgba(255, 255, 255, 0.164);
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    animation: r5 2s linear infinite;
}

@keyframes r5{
    0%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    25%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    40%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
        background-color: rgba(255, 255, 255, 0.164);
    }
    55%{ 
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    100%{
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0);
    }
}