.peoples{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.people__card{
    display: flex;
    width: 150px;
    height:240px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    margin: 4% 0 0 4%;
    border-radius: 2px;
}

.people__picture{
    width: 100%;
    height: 80%;
    object-fit: fill;
}

a{
    text-decoration: none;
}
.people__name{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}