.actors__title{
    margin:0;
}

.actors{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.actor{
    display: flex;
    object-fit: contain;
	overflow: hidden;
	min-width: 140px;
	height: 30px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
    text-align: left;
    vertical-align: middle;
    font-weight:200;
	font-size: 15px;
    letter-spacing: 1px;
    transition: 0.7s;
}

.actor:hover{
	background-color: rgba(255,255,255,0.6);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
