.row{
    margin:0;
}

.row__title{
    margin:10px 0 0 10px;
}

.row__posters{
    display: flex;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 15px 0px 15px 15px;
}

.row__posters::-webkit-scrollbar{
    display: none;
}

.row__poster{
    width: 150px;
    height: 250px;
    margin:1% 4% 0 0;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    transition: transform 480ms;
}

.row__poster:hover{
    transform:scale(1.08);
}

.row__poster__img{
    object-fit: contain;
    width: 100%;
    height: 80%;
}
