.row__detail{
    padding: 20px 0 0 0;
    margin:0;
    width:100%;
    height: 470px;
    background-color: black;
}

.row__detail_title{
    display: flex;
    flex-direction: row;
    height: 30px;
    padding: 0 0 0 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
}

.link_more_info{
    display: inline-flex;
    padding: 0 0 0 5px;
    height: 20px;
}
.link_more_info_ico{

}

.ytPlayer{
    width:420px;
    height:315px;
}